.main-header{
  background-color: #fff021;
  color: #ff2a00;
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  font-size: 50px;
}

.navBar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #abc;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff2354;
}

.info{
  display: inline-block;
}

